body{
    background-image: url("../assets/timer-bg.png");
    background-size: cover;
}
.the-section{
    display: flex;
    place-items: center;
    flex-direction: column;
}
.the-section img{
    margin-top: 100px;
    align-self: center;
    height:50vh;   
}
.the-section .content{
    background-color: #ecb686;
    width:50%;
    border-radius:25px;
    align-content: center;
    
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content h1{
    font-family:'Lucida Sans Unicode';
    text-align: center;
}
.the-section .the-timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.the-section .the-timer p{
    font-family:'Segoe UI';
    font-size: 20px;
    margin-right: 20px;
}

